body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1346px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'microsoft yahei';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:22px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:800px;
  height:22px;
  font-family:'microsoft yahei';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:22px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:380px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:1080px;
  height:380px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:446px;
  width:1346px;
  height:110px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  word-wrap:break-word;
}
